@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
}
body{
  font-family:Poppins ;
}
.home_banner{
  background-image: url('./ui/assets/banner/background.jpeg');
  width: 100%;
  background-position: center;
  background-size: cover;
  height: max-content;
}
.services {
  background-color: #1E5DBB;
  background-image: url('./ui/assets/services/Group 33 (3).png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


